
#btn-gr-layers{
	position: absolute;
    left: 30px;
    top: 40px;
	z-index: 1500;
}
#btn-gr-extra-info {
	position: absolute;
    right: 30px;
    bottom: 40px;
	z-index: 500;
}
.btn-layer {
	position: relative;
	height: 40px;
	width: 40px;
	background: black;
	box-shadow: 0px 0px 7px 0px #ffffffa1;
	cursor: pointer;
}

.svg {
	transform: scale(0.65);
    position: absolute;
    left: -5px;
    top: -5px;
}

/* top-right panel */
#complaint {
	border-radius: 5px 5px 0px 0px;
}
#complaint:hover path{
	fill: #fff400;
}
#factory:hover path, #factory:hover polygon{
	fill: #e1a8d6;
}
#traffic:hover path{
	fill: #e1a8d6;
}
#monitoring {
	border-radius: 0px 0px 5px 5px;
}
#monitoring:hover path{
	fill: #63cad7;
}
#monitoring_group {
	position: absolute;
    left: 40px;
    top: 120px;
    height: auto;
    width: 350px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 14px;
	box-shadow: 0px 0px 7px 0px #ffffffa1;
    cursor: pointer;
}
#monitoring_group label {
	margin-left: 5px;
    margin-bottom: 0px;
}
#complaint_group {
	position: absolute;
    right: 40px;
    top: 0px;
    height: auto;
    width: 230px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 14px;
	box-shadow: 0px 0px 7px 0px #ffffffa1;
	cursor: pointer;
	z-index: 1;
}
#complaint_group label {
	margin-left: 5px;
    margin-bottom: 0px;
}
 
 

/* right panel */




/* bottom-right panel */
#share {
	border-radius: 5px 5px 0px 0px;
	/* background: #464646; */
}
#ruble {
	border-radius: 0px 0px 5px 5px;
}
#share-open{
	display: none;
    position: fixed;
    bottom: 200px;
    right: 30px;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.95;
    z-index: 1000;
    height: auto;
    width: 40px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 7px 0px #ffffffa1;
}


/* bottom-center panel */
#complaint_counter {
    position: absolute;
    width: 215px;
    bottom: 10px;
    font-size: 18px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    /* box-shadow: 0px 0px 7px 0px #ffffffa1; */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}



