/* General */
* {
    margin: 0;
}
body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif !important;
    line-height: 140%;
    text-rendering: optimizeLegibility;
}
h1 {
    text-align: center;
}
:root {
    --popup-color:#267770;

    --theme-dvrpc: #0078ae;
    --theme-dark: #505a5e;
    --theme-dark2: #979797;
    --theme-access: #30958c;
    --theme-access2:rgba(48, 149, 140,0.7);
    --theme-access-lite: #59AAA3;
    --theme-access-lite2:#EAF4F3 ;
    --theme-access-dark: #267770;

    --theme-accessO:#90d782;
    --theme-accessO2:rgba(249, 248, 113,0.8);
    --theme-accessO-lite:#a6df9b;
    --theme-accessO-dark:#73ac68 ;

    --theme-accessF:#ad0074;
    --theme-accessF2:rgba(173,0,116,0.8);
    --theme-accessF-lite:#BD338F;
    --theme-accessF-dark:#8A005C ;

    --wrapper-padding: 10px;
    --wrapper-padding-double: 20px;

    --border-radius: 4px;
    --box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}
.flex-row {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
.flex-end {
    justify-content: flex-end;
}
/* END General */

/* Modal */
#modal-content{
    box-shadow: var(--box-shadow);
}
#modal-toggle, #close-modal{
    cursor: pointer;
    font-size: inherit;
}
#modal{
    position: fixed;
    display: none;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
}
#modal-content{
    position: relative;
    background: #fff;
    width: 50%;
    padding: var(--wrapper-padding-double);
    border-radius: var(--border-radius);
    filter: brightness(150%);
}
#close-modal{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.5em;
}
.modal-content-subheader {
    text-align: center;
    margin-bottom: 1rem;
}
/* END Modal */



/* Navbar */
nav {
    position: relative;
    height: 8vh;
    padding: 0 var(--wrapper-padding);
    background-color: var(--theme-access);
    color: #f7f7f7;
    box-shadow: var(--box-shadow);
    z-index: 1;
}
.nav-links {
    color: #f7f7f7;
}
.nav-btn {
    background: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
}
.nav-vr {
    margin: 0 5px;
}
#dvrpc-logo {
    display: block;
    width: 75px;
}
#accessscore-logo{
    height:40px;
}
#search label {
    color: white;
}
#searchbox {
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: initial;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.about-btn {
    margin: 5px 10px 0px 10px;
    color: var(--theme-access-dark);
    background-color: #fff;
}
#beta{
    margin-top: -15px;
    color:#e3fffb;
}
/* END Navbar */



/* Main Webmap Area */
#main-content-wrapper {
    height: 92vh;
}
#regional-extent-img {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 20px;
}
#legend-box {
    position: absolute;
    bottom: 33px;
    right: 10px;
    z-index: 1001;
    padding: 8px;
    background: rgba(255,255,255, 0.85);
    display:block;
}
#clickBait {
    position: absolute;
    top: 33px;
    left: 10px;
    z-index: 1;
    padding: 8px;
    background: rgba(255,255,255, 0.85);
    display:block;
}
#main{
 display: block;   
 width: 100%;
}
/* END Main Webmap Area */

/* Sidebar */
#sidebar {
    display:none;
    width: 40%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: #f7f7f7; */
    background-color: #eaeaea;
}
#map {
    display: none;
}
#sidebar-content {
    padding: var(--wrapper-padding-double) var(--wrapper-padding);
    min-height: calc(90% - 40px);
}
.sidebar-img {
    display: block;
    max-width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.sidebar-form {
    margin: var(--wrapper-padding) auto;
}
.sidebar-fieldset {
    background: white;
    border-radius: var(--border-radius);
    border-color: #dadada;
    border: 2px solid #dadada;
    margin: 5px 0px 5px 10px;
}
.sidebar-fieldset label {
    margin-right: 5px;
}
#stationHeader {
    color:#333;
    margin: 5px 0px 5px 10px;
    border-radius: 4px;
    border-color: #dadada;
    background-color: #fff; 
    overflow: hidden;
    box-shadow: 1px 2px 3px rgba(0,0,0,.3);
}
#stationName{
    color: #000000;
    padding: .25rem 0;
    border-radius: 3px;
    /* box-shadow: 1.5px 0 0 rgba(0,0,0,.2); */
    font-size:20px;
    text-align: left;
    float: left;
    margin: 10px;
}
h3 small {
    color: #696969 !important;
    font-size: 65%;
    font-weight: normal;
}
#operatorLogo{
    vertical-align: middle;
    margin-left: 7px;
}
#infoSwitch, #infoSwitchBS, #infoSwitchWS {
    margin: 10px 10px 5px 25px;
    background: #fff;
    border: 2px solid #dadada;
    border-radius: 3px;
    width: 92%;
}
#scoreWrapper {
    margin: 5px 0px 5px 10px;
    border-radius: 4px;
    border-color: #dadada;
    background-color: #fff; 
    overflow: hidden;
    box-shadow: 1px 2px 3px rgba(0,0,0,.3);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; 
}
#scoreIntro{
    margin: 5px 0px 0px 10px; 
}
.odemeter {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    overflow: hidden;
    margin: auto;
    color:#FFF;
    font-size: 25px;
    font-weight: bold;
}
#scoreBox{
    display: block;
    width:33%;
    margin: 15px 0px 0px 0px;
}
#score-text {
    text-align: center;
}
.score-cb{
}
#legendSet{
    width: 95%;
    margin: 5px auto 10px auto;
}
#legendWrapper{
    /* margin: 5px 0px 5px 10px; */
    border-radius: 4px;
    /* border-color: #dadada; */
    background-color: #fff; 
    overflow: hidden;
    /* box-shadow: 1px 2px 3px rgba(0,0,0,.3); */
    display: flex;
    justify-content: space-between;
}
#legend-Item{
    text-align: center;
}
.circle {
    width:20px;
    height:20px;
    border-radius:50px;
}
.circle span{
    margin-left: 25px;
    display: block;
    width: 70px;
    text-align: left;
}
#label-box {
    height: 100%;
    background: white;
    border: 1px solid #979797;
    border-radius: 20px;
    padding: 1rem;
    margin: 10px auto 10px auto;
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgba(48, 149, 140, 0.5);
    position: relative;
    display: block;
    width:140px;
  }
  #legend-box-Item {
    text-align: center;
    margin-bottom: 5px;
}
/* END Sidebar */
/* Score Colors */
.as-2 {
    background: #a50026;
}
.as-3 {
    background: #d73027;
}
.as-4 {
    background: #f46d43;
}
.as-5 {
    background: #fdae61;
}
.as-6 {
    background: #74add1;
}
.as-7 {
    background: #4575b4;
}
.as-8 {
    background: #313695;
}
/* End Score Colors */

/* Charts */
#chartWrapper {
    margin: 5px 0px 5px 10px;
    border-radius: 4px;
    border-color: #dadada;
    background-color: #fff; 
    overflow: hidden;
    box-shadow: 1px 2px 3px rgba(0,0,0,.3);
    display: block;
    /* justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; */
}
.highcharts-root {
    font-family: 'Roboto', sans-serif !important;
}
#charts{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.3);
    margin: 10px 10px 0px 10px;
}
.chart-subheader {
    /* background-color: var(--theme-access);*/
    color: #f7f7f7; 
    padding: .25rem 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 1.5px 0 0 rgba(0,0,0,.2);
    text-align: center;
}
#chartAS {
    background-color: var(--theme-access);
}
#chartBS {
    background-color: var(--theme-accessO);
}
#chartWS {
    background-color: var(--theme-accessF);
}
#info-data {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0,0,0,.3);
    margin: 10px 10px 10px 10px;
}
.info1 {
    margin: 5px 0px 5px 10px;
}
.data-subheader {
    /* background-color: var(--theme-access); */
    color: #f7f7f7;
    padding: .25rem 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 1.5px 0 0 rgba(0,0,0,.2);
    text-align: center;
}
.data-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
    border-bottom: 1px dotted #414770;
    margin: 0px 10px 0px 0px;
}
.dataTable{
    width:100%;
}
.dataTable tr{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0; */
    text-align: center;
    border-bottom: 1px dotted #414770;
    /* margin: 0px 10px 0px 0px; */
}
.data-info {
    font-size: small;
    color: #808080;
    border-bottom: 1px dotted #414770;
    text-align: left;
}
.data-info2 {
    font-size: small;
    color: #808080;
    text-align: left;
}
.data-value {
    font-size: medium;
    border-bottom: 1px dotted #414770;
}
.data-value2 {
    font-size: medium;
}

/* ENDCharts */
/* Map */
#map {
    width: 60%;
    height: 100%;
}
.mapboxgl-popup-content {
    padding: var(--wrapper-padding-double) var(--wrapper-padding);
}
.popup-span {
    display: block;
}
.popup-span:not(:last-of-type) {
    border-bottom: 1px dotted var(--theme-dark);
}
/* station popup */
.mapboxgl-popup .station-popup .mapboxgl-popup-anchor-bottom{
    min-height: 60px;
}
.station-popup .mapboxgl-popup-content {
    background-color: var(--popup-color);
    height: 15px;
    border-color: #fff;
  }

.station-popup .mapboxgl-popup-tip {
    border-top-color: var(--theme-access2);
  }
.station-popup .mapboxgl-popup-content h3 {
    /* background: var(--theme-access2);  */
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}
.station-popup .mapboxgl-popup-content h3-as-6 {
    background: #a50026; 
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}
/* END Map */

/* Footer */
footer {
    padding: var(--wrapper-padding);
    width: 100%;
    min-height: calc(10% - 20px);
    background-color: var(--theme-dark);
    color: #f7f7f7;
}
/* END Footer */
/* Custom Style for Category Selector */
section {
    display: flex;
    flex-flow: row wrap;
  }
  
  section > div {
    flex: 1;
    padding: 0.5rem;
  }
  /* hides radio button */
  input[class=lbox-AS],  input[class=lbox-BS],  input[class=lbox-WS] {
    display: none;
  }
  
  input[class=lbox-AS]:not(:disabled) ~ #label-box,  input[class=lbox-BS]:not(:disabled) ~ #label-box,  input[class=lbox-WS]:not(:disabled) ~ #label-box {
    cursor: pointer;
  }

  input[class=lbox-AS]:disabled ~ #label-box, input[class=lbox-BS]:disabled ~ #label-box, input[class=lbox-WS]:disabled ~ #label-box {
    color: #bcc2bf;
    border-color: #bcc2bf;
    box-shadow: none;
    cursor: not-allowed;
  }

  input[class=lbox-AS] + #label-box {
   /* OG color #30958c; */
    background: #3bb8ad;
    border: 2px solid #236e68;
    color: white;
  }

  input[class=lbox-BS] + #label-box {
    /* background: #90d782;
    border: 2px solid #73ac68; */
    background:#Df73FF;
    border: 2px solid #d64cff;
    color: white;
  }

  input[class=lbox-WS] + #label-box {
    /* background: #ad0074;
    border: 2px solid #8A005C; */
    background:#efa801;
    border: 2px solid #ef8001;
    color: white;
  }
  
   input[class=lbox-AS]:checked + #label-box {
    box-shadow: 0px 0px 20px rgba(59, 184, 173, 0.75);
  }

  input[class=lbox-BS]:checked + #label-box {
    box-shadow: 0px 0px 20px rgba(223,115,255, 0.75);
  }

  input[class=lbox-WS]:checked + #label-box {
    box-shadow: 0px 0px 20px rgba(239,168,1,0.75);
  } 
  
  input[class=lbox-AS]:checked + #label-box::after {
    color: #3d3f43;
    font-family: FontAwesome;
    border: 2px solid #236e68;
    content: "";
    font-size: 14px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
  }
  input[class=lbox-BS]:checked + #label-box::after {
    color: #3d3f43;
    font-family: FontAwesome;
    border: 2px solid #d64cff;
    content: "";
    font-size: 14px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
  }
  input[class=lbox-WS]:checked + #label-box::after {
    color: #3d3f43;
    font-family: FontAwesome;
    border: 2px solid #ef8001;
    content: "";
    font-size: 14px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
  }
  @media only screen and (max-width: 700px) {
    section {
      flex-direction: column;
    }
  }


/* CUSTOM STYLE FOR CHECKBOX */
.legend-as {
    color:#3bb8ad;
  }
  .legend-bs {
    color:#Df73FF;
  }
  .legend-ws {
    color:#efa801;
  }
.legend-sidewalk {
    color: var(--theme-dark);
}
.legend-circuit {
color:#4fe314;
}
.legend-bus-stops {
color:#e0c063;
}
.legend-septa {
    color:#e0c063;
}
.legend-njt {
    color:#e0c063;
}
.legend-lts {
color:#f9f871;
}
.legend-parking{
color:#696969;    
}
.legend-retail{
  color:#9C9DF0;   
}
.legend-bikelane{
    color:#FFA17A;
}
.legend-IPD{
    color:#081d58;
}
.legend-crime{
    color:#c70c4d;
}
.legend-es{
    color:#c8ffaf;
}
.legend-high{
    color:#fa78b9;
}
#sidebar-content ul {
    list-style-type: none;
}
input[type="checkbox"]:focus {
    outline: 0;
  }
  
  input[type="checkbox"] {
    appearance: none;
    background-color: #fafafa;
    border: 1px solid #d3d3d3;
    border-radius: 26px;
    cursor: pointer;
    height: 18px;
    position: relative;
    transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
    width: 36px;
    vertical-align: top;
    -webkit-appearance: none;
  }
  input[type="checkbox"]:after {
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 16px;
    box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025),
      0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 14px;
    left: 0;
    position: absolute;
    right: 16px;
    top: 0;
    transition: border 0.25s 0.15s, left 0.25s 0.1s, right 0.15s 0.175s;
  }
  input[type="checkbox"]:checked {
    border-color: var(--theme-dark);
    box-shadow: inset 0 0 0 13px var(--theme-dark);
    padding-left: 18px;
    transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
  }
  input[type="checkbox"]:checked:after {
    border-color: var(--theme-dark);
    left: 16px;
    right: 0;
    transition: border 0.25s, left 0.15s 0.25s, right 0.25s 0.175s;
  }

  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
  }
 
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #30958c;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #30958c;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
    .modal-header {
    font-size: 18px;
    margin-bottom: 5px;
    }
    #about, #disclaimer, #CAT1-Modal, #CAT2-Modal , #CAT3-Modal , #CAT4-Modal {
    max-width: 800px !important;
    z-index: 1000 !important ;
    }
    hr {
    border-color: #eee;
    margin: 10px 20px 10px 0px;
    }
    .mapboxgl-ctrl-logo {
    display: none !important;
    }

    #toggleWrapper {
        margin: 5px 0px 5px 10px;
        border-radius: 4px;
        border-color: #dadada;
        background-color: #fff; 
        overflow: hidden;
        box-shadow: 1px 2px 3px rgba(0,0,0,.3);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }